{% extends 'base.html' %}

{% block title %}
<title>{{ title }}</title>
{% endblock title %}

{% block main %}
<section class="light">
    <div class="container py-2">
        <div class="h1 text-center text-dark" id="pageHeaderTitle">Proyekt: {{ project.title }}</div>

        <article class="postcard light blue">
            <a class="postcard__img_link" href="{{ project.link }}">
                <img class="postcard__img" src="{{ project.get_photo }}" alt="Image Title"/>
            </a>
            <div class="postcard__text t-dark">
                <h1 class="postcard__title blue"><a href="#">{{ project.title }}</a></h1>
                <div class="postcard__subtitle small">
                </div>
                <div class="postcard__bar"></div>
                <div class="postcard__preview-txt">{{ project.description }}
                </div>
                <ul class="postcard__tagbox">
                    <li class="tag__item play blue">
                        <a href="{{ project.link }}"><i class="fas fa-play mr-2"></i>GitHub</a>
                    </li>
                </ul>
            </div>
        </article>
    </div>
</section>
{% endblock %}