{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>{{ title }}</title>
{% endblock title %}

{% block main %}
<main>
    <!-- Page Header -->
    <header class="header" id="home">
        {% block header %}
        {% include 'components/header.html' %}
        {% endblock header %}
    </header>
    <!-- End of Page Header -->
    <!-- About section -->
    <section id="about" class="section mt-3">
        <div class="container mt-5">
            <div class="row text-center text-md-left">
                <div class="col-md-3">
                    <img src="media/portret.jpg" alt="" class="img-thumbnail mb-4">
                </div>
                <div class="pl-md-4 col-md-9">
                    <h6 class="title">Abdimannabov Sohib</h6>
                    <p class="subtitle">Python Back-End dasturchi</p>
                    <p>Proweb kursida Python bo'yicha dasturlash, Django frameworki orqali web-sayt va web-do'konlarni
                        back-endi hamda bazasini yaratish ko'nikmalari &#9989</p>
                    <p>O'zlashtirgan bilimlarim bo'yicha o'z mustaqil qilgan va dars davomida haqiqiy proyektlar
                        yaratish &#9989</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Service section -->
    <section id="service" class="section">
        <div class="container text-center">
            <h6 class="subtitle">Ma'lumot</h6>
            <h6 class="section-title mb-4">Bilimlarim</h6>

            <div class="row">
                <div class="col-sm-6 col-md-3 mb-4">
                    <div class="custom-card card border">
                        <div class="card-body">
                            <i class="icon ti-microsoft"></i>
                            <h5>Python</h5>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 mb-4">
                    <div class="custom-card card border">
                        <div class="card-body">
                            <i class="icon ti-widget"></i>
                            <h5>OOP</h5>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 mb-4">
                    <div class="custom-card card border">
                        <div class="card-body">
                            <i class="icon ti-window"></i>
                            <h5>Django</h5>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 mb-4">
                    <div class="custom-card card border">
                        <div class="card-body">
                            <i class="icon ti-bar-chart"></i>
                            <h5>API</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End of Sectoin -->

    <!-- Portfolio section -->
    <section id="portfolio" class="section">
        <div class="container text-center">
            <h6 class="subtitle">Portfolio</h6>
            <h6 class="section-title mb-4">Mening proyektlarim:</h6>

            <div class="row">
                {% for project in projects %}
                <div class="col-sm-4">
                    <div class="img-wrapper">
                        <img src="{{ project.get_photo }}" alt="">
                        <div class="overlay">
                            <div class="overlay-infos">
                                <h5>{{project.title}}</h5>
                                <a href="{{ project.get_photo }}"><i class="ti-zoom-in"></i></a>
                                <a href="{% url 'detail' project.pk %}"><i class="ti-link"></i></a>
                            </div>
                        </div>
                        <p>{{ project.title }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
    </section>
    <!-- End of portfolio section -->
    {% include 'components/footer.html' %}
</main>
{% endblock main %}