{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Portfolio</title>
{% endblock title %}

{% block main %}
<main>
    <!-- About section -->
    <section id="about" class="section mt-3">
        <div class="container mt-5">
            <div class="row text-center text-md-left">
                <div class="col-md-3">
                    <img src="{% static 'imgs/avatar.jpg' %}" alt="" class="img-thumbnail mb-4">
                </div>
                <div class="pl-md-4 col-md-9">
                    <h6 class="title">Abdimannabov Sohib</h6>
                    <p class="subtitle">Python Back-End dasturchi</p>
                    <p>Proweb kursida Python bo'yicha dasturlash, Django frameworki orqali web-sayt va web-do'konlarni
                        back-endi hamda bazasini yaratish ko'nikmalari &#9989</p>
                    <p>O'zlashtirgan bilimlarim bo'yicha o'z mustaqil qilgan va dars davomida haqiqiy proyektlar
                        yaratish &#9989</p>
                    <button class="btn btn-primary rounded mt-3">DOWNLOAD CV</button>
                </div>
            </div>
        </div>
    </section>

    <!-- Service section -->
    <section id="service" class="section">
        <div class="container text-center">
            <h6 class="subtitle">Ma'lumot</h6>
            <h6 class="section-title mb-4">Bilimlarim</h6>

            <div class="row">
                <div class="col-sm-6 col-md-3 mb-4">
                    <div class="custom-card card border">
                        <div class="card-body">
                            <i class="icon ti-microsoft"></i>
                            <h5>Python</h5>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 mb-4">
                    <div class="custom-card card border">
                        <div class="card-body">
                            <i class="icon ti-widget"></i>
                            <h5>OOP</h5>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 mb-4">
                    <div class="custom-card card border">
                        <div class="card-body">
                            <i class="icon ti-window"></i>
                            <h5>Django</h5>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 mb-4">
                    <div class="custom-card card border">
                        <div class="card-body">
                            <i class="icon ti-bar-chart"></i>
                            <h5>API</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End of Sectoin -->

    <!-- Portfolio section -->
    <section id="portfolio" class="section">
        <div class="container text-center">
            <h6 class="subtitle">Portfolio</h6>
            <h6 class="section-title mb-4">Mening proyektlarim:</h6>

            <div class="row">
                <div class="col-sm-4">
                    <div class="img-wrapper">
                        <img src="{% static 'imgs/folio-1.jpg' %}" alt="">
                        <div class="overlay">
                            <div class="overlay-infos">
                                <h5>Project Title</h5>
                                <a href="javascript:void(0)"><i class="ti-zoom-in"></i></a>
                                <a href="javascript:void(0)"><i class="ti-link"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="img-wrapper">
                        <img src="{% static 'imgs/folio-2.jpg' %}" alt="">
                        <div class="overlay">
                            <div class="overlay-infos">
                                <h5>Project Title</h5>
                                <a href="javascript:void(0)"><i class="ti-zoom-in"></i></a>
                                <a href="javascript:void(0)"><i class="ti-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="img-wrapper">
                        <img src="{% static 'imgs/folio-3.jpg' %}" alt="">
                        <div class="overlay">
                            <div class="overlay-infos">
                                <h5>Project Title</h5>
                                <a href="javascript:void(0)"><i class="ti-zoom-in"></i></a>
                                <a href="javascript:void(0)"><i class="ti-link"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="img-wrapper">
                        <img src="{% static 'imgs/folio-4.jpg' %}" alt="">
                        <div class="overlay">
                            <div class="overlay-infos">
                                <h5>Project Title</h5>
                                <a href="javascript:void(0)"><i class="ti-zoom-in"></i></a>
                                <a href="javascript:void(0)"><i class="ti-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="img-wrapper">
                        <img src="{% static 'imgs/folio-5.jpg' %}" alt="">
                        <div class="overlay">
                            <div class="overlay-infos">
                                <h5>Project Title</h5>
                                <a href="javascript:void(0)"><i class="ti-zoom-in"></i></a>
                                <a href="javascript:void(0)"><i class="ti-link"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="img-wrapper">
                        <img src="{% static 'imgs/folio-6.jpg' %}" alt="">
                        <div class="overlay">
                            <div class="overlay-infos">
                                <h5>Project Title</h5>
                                <a href="javascript:void(0)"><i class="ti-zoom-in"></i></a>
                                <a href="javascript:void(0)"><i class="ti-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- End of portfolio section -->
</main>
{% endblock main %}