{% load static %}

<footer>
    <!-- Contact Section -->
    <section id="contact" class="position-relative section">
        <div class="container text-center">
            <h6 class="subtitle">Contact</h6>
            <h6 class="section-title mb-4">Men bilan bog'laning</h6>
            <p class="mb-5 pb-4">Quyida meni kantakt ma'lumotlarim:</p>

            <div class="contact-infos">
                <div class="item">
                    <i class="ti-location-pin"></i>
                    <div class="">
                        <h5>Joylashuv</h5>
                        <p> Toshkent Proweb </p>
                    </div>
                </div>
                <div class="item">
                    <i class="ti-mobile"></i>
                    <div>
                        <h5>Telefon Nomer</h5>
                        <p>+998(50)-778-18-36</p>
                    </div>
                </div>
                <div class="item">
                    <i class="ti-email"></i>
                    <div class="mb-0">
                        <h5>Email Address</h5>
                        <p>abdumanobovsohib13@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
    <!-- End of Contact Section -->
</footer>