{% load static %}

<div class="container">
    <div class="infos">
        <h6 class="subtitle">Salom! Men</h6>
        <h6 class="title">Abdimannabov Sohib</h6>
        <p>Python Back-End dasturchiman</p>

        <div class="socials mt-4">
            <a class="social-item" href="https://www.google.com/"><i class="ti-google"></i></a>
            <a class="social-item" href="https://github.com/abdimannabov"><i class="ti-github"></i></a>
        </div>
    </div>
    <div class="img-holder">
        <img src="{% static 'assets/imgs/man.svg' %}" alt="">
    </div>
</div>

<!-- Header-widget -->
<div class="widget">
    <div class="widget-item">
        <h2>64</h2>
        <p>ta dars</p>
    </div>
    <div class="widget-item">
        <h2>15+</h2>
        <p>uyga vazifalar</p>
    </div>
    <div class="widget-item">
        <h2>3+</h2>
        <p>proyektlar</p>
    </div>
</div>